<div class="project-stars">
  <iframe src="https://ghbtns.com/github-btn.html?user=benkalsky&repo=theColorName.scss&type=star" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=benkalsky&repo=theColorName.scss&type=fork" frameborder="0" scrolling="0" width="64px" height="20px"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=benkalsky&type=follow" frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
</div>
