.wrapper-masthead {
  margin-bottom: 40px;
  position: relative;
}

.masthead {
  padding: 40px 30px;
  text-align: center;
  max-width: 740px;

  &:after {
    content: '';
    border-bottom: 1px solid rgba($darkGreen, .1);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.site-avatar {
  .avatar-img {
    max-height: 140px;
  }
}

.site-info {
  margin: auto;
}

.site-name {
  margin: 0;
  color: $darkGreen;
  cursor: pointer;
  font-weight: 700;
}

.site-description {
  margin: 5px 0 0;
  color: rgba($darkGreen, .65);
  font-size: 16px;
}

nav {
  margin-top: 20px;
  font-family: $proxima;
  font-size: 18px;

  a {
    margin: 0 10px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid gray;
    padding: 0.1em 1em;
    color: gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  background-color: rgba($darkGreen, .05);
}

footer {
  padding: 28px 20px 20px;
  text-align: center;

  a {
    margin: 0 2px;
  }
}

.shots {
  padding: 0 10px;
}

.shotsItem {
  margin-bottom: 10px;

  a img {
    box-shadow: 0 16px 60px 0 rgba(black, .1);
  }
}

.row {
  margin: 0;
}

.page, .post {
  max-width: 740px;
  padding: 0 30px;
  text-align: left;
  @include flex-basis(740px);
}
