.project-stars {
  text-align: center;
  margin-top: 30px;
}

.page, .post {
  a {
    text-decoration: none;
    position: relative;

    @if $breaking-underlines {
      text-shadow: (-1px) -1px 0 $background-color, 1px -1px 0 $background-color, -1px 1px 0 $background-color, 1px 1px 0 $background-color;
    }

    @include underline($link-color);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      @include underline($link-color, 0.5);
    }

    &:hover, &:focus {
      @include underline($link-color-active);

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        @include underline($link-color-active, 0.5);
      }
    }
  }
}
